@import '~config/_colors.scss';

.modal {
	color: white;
	max-height: 700px;
	min-width: 500px;
	padding: 15px !important;
	text-align: center;
	background: black;
	border: 2px solid $alizarin-crimson;
	overflow: hidden;

	button {
		height: 36px;
		width: 90px;
		margin: 10px 20px;
	}

	h1 {
		background-color: $alizarin-crimson;
		display: inline-block;
		font-family: 'Bold';
		font-size: 16px;
		padding: 8px 25px;
		position: relative;
		text-transform: uppercase;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 180px;
	}

	.modalContent {
		margin: 10px;
	}
}