/**
  Naming source: http://chir.ag/projects/name-that-color/

  as suggested by davidwalsh.name:
    https://davidwalsh.name/sass-color-variables-dont-suck
*/


/** Basic */
$black: #000;
$white: #fff;

/** Blues */
$shakespeare: #4FC5D4;
$picton-blue: #45B1E8;

/** Grays */
$abbey: #4c4d4f;
$mine-shaft: #2A2A2A;
$mine-shaft-2: #202020;
$shark: #282829;
$shuttle-gray: #646669;


/** Greens */
$jade: #00A86B;
$caribbean-green: #00CC99;
$emerald: #39C85E;
$key-lime-pie: #A6CE1A;

/** Oranges */
$crusta: #ff853c;

/** Pink */
$bitter-sweet: #FF5F5F;
$geraldine: #ff8287;
$your-pink: #FFBCBC;

/** Reds */
$alizarin-crimson: #ED2624;
$crimson: #DC143C;
$thunderbird: #C4161C;


/** Violets */
$smoky: #5D5570;

/** Yellows */
$key-lime-pie: #A6CE1A;
