/**
 * Created by gian.jamisola on 6/7/2017.
 */

#changePWContainer {

}

.fieldMarginBottom {
  margin-bottom: .5em !important;
}
.btnMarginBottom {
  margin-bottom: 1em;
}

.columnRightOffset {
  margin-right: 50%;
}

.columnLeftOffset {
  margin-left: 50%;
}