@import '~config/_colors.scss';

.row {
  clear: both;
  text-transform: uppercase;
  width: 1200px;

  a {
    color: $white;
  }

  h2 {
    bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    left: 15px;
    position: absolute;
  }

  img {
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0.5;
      z-index: 1;
    }
  }

  img:hover, .game:hover, .casinoButtons:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    transform: translate(-50%, -50%);
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
  }

  .casinoButtons {
    border: 2px solid $alizarin-crimson;
    left: 80px;
    position: absolute;
    top: 85px;
    visibility: hidden;
    width: 120px;
    z-index: 2;

    .btnRed {
      background-color: $key-lime-pie;
      padding: 15px 20px;

      a:hover {
        color: $black;
      }
    }

    .btnGreen {
      background-color: $black;
      padding: 15px 20px;

      a:hover {
        color: $thunderbird;
      }
    }
  }

  .game {
    padding-left: 0px;
    padding-right: 0px;

    &:hover {
      border: 10px solid $alizarin-crimson;
      height: 300px;
      z-index: 1;

      .casinoButtons {
        visibility: visible;
      }
    }
  }
}