<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Default"
       connectionString="Server=regocms-db.mundenghjy.info;Database=beteast-cms-dev;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru"
       providerName="System.Data.SqlClient" />
  <add name="LogDb"
       connectionString="Server=regocms-db.mundenghjy.info;Database=beteast-log;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru"
       providerName="System.Data.SqlClient" />
  <add name="SessionStore"
       connectionString="server=regocms-db.mundenghjy.info;Database=beteast-session;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru;Application Name=BetEast"
       providerName="System.Data.SqlClient" />
</connectionStrings>