<?xml version="1.0" encoding="utf-8"?>
<connectionStrings  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="LogDb"
       connectionString="Server=localhost;Database=beteast-log;Persist Security Info=True;integrated security=false; user id=sa; password=sa"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="SessionStore"
       connectionString="Server=localhost;Database=beteast-session;Persist Security Info=True;integrated security=false; user id=sa; password=sa;Application Name=BetEast"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>