<?xml version="1.0" encoding="utf-8"?>
<connectionStrings  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="LogDb"
     connectionString="Server=regocms-db.mundenghjy.info;Database=beteast-log;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru"
     providerName="System.Data.SqlClient"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  <add name="SessionStore"
     connectionString="Server=regocms-db.mundenghjy.info;Database=beteast-session;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru;Application Name=BetEast"
     providerName="System.Data.SqlClient"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
</connectionStrings>