<?xml version="1.0"?>
<log4net debug="true">
	<appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionStringName value="LogDb" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<commandText value="INSERT INTO [Log] ([Date],[AppName],[Host],[Level],[Logger],[Username],[Message],[Exception]) VALUES (@log_date, 'beteast', @host, @log_level, @logger, @username, @message, @exception)" />
		<parameter>
			<parameterName value="@log_date"/>
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@host"/>
			<dbType value="String" />
			<size value="32" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="16" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="128" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@username" />
			<dbType value="String" />
			<size value="64" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%aspnet-request{AUTH_USER}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="-1" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="-1" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="ADONetAppender"/>
	</root>
</log4net>
