<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="ADONetAppender" xdt:Locator="Match(name)">
    <commandText xdt:Transform="Replace" value="INSERT INTO [Log] ([Date],[AppName],[Host],[Level],[Logger],[Username],[Message],[Exception]) VALUES (@log_date, 'qa-138v5', @host, @log_level, @logger, @username, @message, @exception)" />
  </appender>
</log4net>