<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MediaManagerUrl" value="//dev-beteast-media.mundenghjy.info"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultDomain" value="http://dev-beteast.mundenghjy.info/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBaseUrl" value="http://qa-api.beteast.co.uk"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReloadViewsOnStart" value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>