<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MediaManagerUrl" value="//media.beteast.co.uk"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultDomain" value="https://www.beteast.co.uk/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiBaseUrl" value="http://api.beteast.co.uk"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReloadViewsOnStart" value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <configProtectedData xdt:Transform="InsertBefore(/configuration/connectionStrings)">
    <providers>
      <add keyContainerName="BETEAST_PRDKey" useMachineContainer="true"
       name="beteast-production" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
</configuration>