<?xml version="1.0" encoding="utf-8"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="LogDb"
       connectionString="Server=regocms-db.mundenghjy.info;Database={siteName}-log;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru"
       providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="SessionStore"
       connectionString="server=regocms-db.mundenghjy.info;Database={siteName}-session;Persist Security Info=True;integrated security=false; user id=sa; password=ch6kaCru;Application Name={siteName}"
       providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>