<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="LogDb"
       connectionString="Server=localhost;Database={siteName}-log;Persist Security Info=True;integrated security=false; user id=sa; password=sa" providerName="System.Data.SqlClient" />
  <add name="SessionStore"
       connectionString="Server=localhost;Database={siteName}-session;Persist Security Info=True;integrated security=false; user id=sa; password=sa;Application Name={siteName}" providerName="System.Data.SqlClient" />
</connectionStrings>